# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project's files
*.project
*.cproject

#Temporales linux
*.*~
*~
*.log
*.aux

/Debug

=======
/Debug


