# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

parser.cpp
parser.h
/common.h
/Diccionario.cpp
/Diccionario.h
/EscritorArchivo.h
/LectorArchivo.h
/ListadorDeArchivos.cpp
/ListadorDeArchivos.h
/main.cpp
/Parser.cpp
/Parser.h
/PosicionesPorDocumento.cpp
/PosicionesPorDocumento.h
